/*
CSS Файл для переключателя
*/

body {
	background-color: grey;
}

.container {
	position: relative;
	cursor: pointer;
	width: 64px;
	height: 30px;
	display: inline-block;
}

.box {
	position: absolute;
	background-color:salmon;
	box-shadow: inset 0px 1px 1px #444444;
	width: 64px;
	height: 30px;
	border-radius: 15px;
	transition-duration: 100ms;
	transition-timing-function: ease-in-out;
}

.container input {
	display: none;
}

.switch {
	position: absolute;
	left: 0px;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 1px 1px #444444;
	animation: switching-off 100ms ease-in-out;
	animation-fill-mode: forwards;
}

.container input:checked ~ .switch{
	animation: switching-on 100ms ease-in-out;
	animation-fill-mode: forwards;
	}

.container input:checked ~ .box{
	background-color: powderblue;
}

@keyframes switching-on{
	0% {
		transform: scaleX(1.0);
	}
	
	50% {
		transform: scaleX(1.5);
	}
	
	100% {
		transform: scaleX(1.0);
		left: 34px;
	}
}

@keyframes switching-off{
	0% {
		transform: scaleX(1.0);
		left: 34px;
	}
	50% {
		transform: scaleX(1.5);
	}
	100% {
		transform: scaleX(1.0);
	}
}
